language: ruby
rvm:
  - 2.1
#   - 2.0.0
#   - 1.9.3
#   - 1.9.2
#   - rbx-2
#   - rbx-2.1.1
#   - rbx-2.0.0
#   - jruby-19mode
# gemfile: Gemfile.ci
bundler_args: --without development
script: bundle exec rake travis
services: riak
matrix:
  fast_finish: true
  allow_failures:
    - rvm: rbx-2.1.1
    - rvm: rbx-2.0.0
